//Цвета для шрифта
$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #faff00;
@import "./settings";

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
  @media (max-width: 392px) {
    max-width: 317px;
  }
}

.title {
  font-weight: 500;
  line-height: normal;
}

.btn {
  background-color: $color-yellow;
  border-radius: 30px;
  color: $color-black
}

//Большие компоненты
@import "./header/header";
@import "./main/main";
//Маленькие компоненты
@import "./header/nav";
@import "./header/hamburger-menu";
@import "./header/logo";

@import "./main/hero";
@import "./main/reasons";
